.button {
    cursor: pointer;
    
    display: inline-block;
    box-sizing: border-box;
    
    font-size: 14px;
    text-align: center;
    
    padding: 10px;
    
    border: none;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--white);
    background-color: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--black);
    background-color: var(--white);
}